@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

li{
    display: flex;
    flex-direction: row;
    align-content: space-between;

    background-color: rgb(90, 141, 141);
}

li span{
    display: flex;
    width: 10%;
}

li input[type="checkbox"]{
    width: 15px;
    margin: auto;
}

li h3{
    width: 80%;
}

li input[type="submit"]{
    width: 10%;
}

.finished-task{
    text-decoration: line-through;
}