/*tablet design*/
@media screen and (max-width: 768px){
    header{
        padding: 100px 25px;
    }

    #div-task-field input[type="submit"]{
        padding: 4px 8px;
    }

    main{
        padding: 40px 80px;
    }
}

/*mobile design*/
@media screen and (max-width: 384px){
    header{
        padding: 100px 12.5px;
    }

    #div-task-field input[type="submit"]{
        padding: 2px 4px;
    }

    main{
        padding: 40px 20px;
    }
}